<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a contact</title>
</head>
<body>
<h2 th:text="#{add}"></h2>
<form th:action="@{/contact/add}" method="post" th:object="${contact}">
    <table border="2">
        <tr>
            <td th:text="#{firstName}"/>
            <td><input required th:field="*{firstname}"/></td>
        </tr>
        <tr>
            <td th:text="#{lastName}"/>
            <td><input required th:field="*{lastname}"/></td>
        </tr>
        <tr>
            <td th:text="#{email}"/>
            <td><input required th:field="*{email}"/></td>
        </tr>
        <tr>
            <td th:text="#{imagePath}"/>
            <td><input required th:field="*{photo}"/></td>
        </tr>
    </table>
    <br>
    <br>
    <input type="submit" th:value="#{addcontact}">
    <input type="reset" th:value="#{reset}">
</form>
</body>
</html>